extends base

block content
    main.main
        .bookBox-container.container
            .row.bookBox-row
                each book in books
                        .bookBox.col-4   
                            a.bookBox__name(href=`127.0.0.1/books/${book.slug}`)  
                                h3 
                                    span= book.name
                            .bookBox__cover
                                img(src="../public/img/books/themiceandtherain.jpg", alt=`${book.name}`)
                            .bookBox__detais.container
                                .row
                                    .bookBox__age.col-6
                                        span= `Age: ${book.age}`
                                    .bookBox__rating.col-6
                                        span= `Rating: ${book.ratingsAverage}`
