extends base

block content
    main.main
        .bookBox-container
                each book in books
                        .bookBox  
                            a.bookBox__name(href=`book/${book.slug}`)  
                                h3 
                                    span= book.name
                            .bookBox__cover__overlay
                                a.bookBox__name(href=`book/${book.slug}`) 
                                    img.bookBox__cover(src=`/img/books/${book.imageCover}` alt=`${book.imageCover}`)
                            .bookBox__detais.container
                                .row
                                    .bookBox__age.col-6
                                        span= `Age: ${book.age}`
                                    .bookBox__rating.col-6
                                        span= `Rating: ${book.ratingsAverage}`
