extends base
include _bookBoxes

block content
    main.main
        .main__title
            img.title__img(src="/img/title-bg.jpg")
            .title__box
                h2.title All books
                p.subtitle Enjoy with all our amazing books.
        .main__section
            .bookBox-container
                each book in books
                    +bookBoxes(book)
                        //- .bookBox  
                        //-     a.bookBox__name(href=`books/${book.slug}`)  
                        //-         h3 
                        //-             span= book.name
                        //-     .bookBox__cover__overlay
                        //-         a.bookBox__name(href=`books/${book.slug}`) 
                        //-             img.bookBox__cover(src=`/img/books/${book.imageCover}` alt=`${book.imageCover}`)
                        //-     .bookBox__detais.container
                        //-         .row
                        //-             .bookBox__age.col-6
                        //-                 span= `Age: ${book.age}`
                        //-             .bookBox__rating.col-6
                        //-                 span= `Rating: ${book.ratingsAverage}`
