doctype html
html
    head
        meta(charset='UTF-8')
        title My Story Teller | #{title}
        link(rel='stylesheet' href='/css/style.css')
        link(rel="icon" type="image/png" href="/img/favicon.png")
        link(href='https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

    body.noScroll
        main.main
            section.book
                img#book__burger.book__burger(src='/img/books/burger.png')
                // PAGE ONE
                #pageOne.page.pageOne-container
                    img.page__illustration(src=`/img/books/${book.images[0]}` alt=`${book.images[0]}`)
                    .page__text
                        img#textOne.text(src=`/img/books/${book.text[0]}` alt=`${book.text[0]}`)
                    a#nextOne.page__next.col-6(href='#pageTwo')
                
                // PAGE TWO
                #pageTwo.page.pageTwo-container.container
                    img.page__illustration(src=`/img/books/${book.images[1]}` alt=`${book.images[1]}`)
                    .page__text
                        img#textTwo.text(src=`/img/books/${book.text[1]}` alt=`${book.text[1]}`)
                a#prevTwo.page__prev.col-6(href='#pageOne')
                a#nextTwo.page__next.col-6(href='#pageThree')

                // PAGE THREE
                #pageThree.page.pageThree-container.container
                    img.page__illustration(src=`/img/books/${book.images[2]}` alt=`${book.images[2]}`)
                    .page__text
                        img#textThree.text(src=`/img/books/${book.text[2]}` alt=`${book.text[2]}`)
                a#prevThree.page__prev.col-6(href='#pageTwo')
                a#nextThree.page__next.col-6(href='#pageFour')

                // PAGE FOUR
                #pageFour.page.pageFour-container.container
                    img.page__illustration(src=`/img/books/${book.images[3]}` alt=`${book.images[3]}`)
                    .page__text
                        img#textFour.text(src=`/img/books/${book.text[3]}` alt=`${book.text[3]}`)
                a#prevFour.page__prev.col-6(href='#pageThree')
                a#nextFour.page__next.col-6(href='#pageFive')

                // PAGE FIVE
                #pageFive.pageFive-container.container
                    //- a#prevFive.page__prev.col-6(href='#pageFour')
                    p#bookId.displayNone= book.id
                    .row
                        h2.pageFive__title.col-12
                            | Snip, snap, snout,
                            br
                            | #{book.name}
                            br
                            | told out.
                    .row
                        a.col-6(href=`/allbooks`) See all the books
                        a.col-6(href=`/books/${book.slug}/read`) Read the book again.
                    .row
                        .review-form-container.col-12
                            h3 Create a review
                            form#review_form.form
                                .form__element
                                    label.form__label(for='review') Write your review
                                    input#review.form__input(type='text', placeholder='Please give us your opinion!', required)
                                .form__element
                                    label.form__label(for='ratingOne') 1
                                    input#ratingOne(type='radio' name='rating' value='1')
                                    label.form__label(for='ratingTwo') 2
                                    input#ratingTwo(type='radio' name='rating' value='2')
                                    label.form__label(for='ratingThree') 3
                                    input#ratingThree(type='radio' name='rating' value='3')
                                    label.form__label(for='ratingfour') 4
                                    input#ratingFour(type='radio' name='rating' value='4')
                                    label.form__label(for='ratingFive') 5
                                    input#ratingFive(type='radio' name='rating' value='5')
                                button.form__btn Create the review!

            script(src='/js/bundle.js')